language: android
android:
  components:
    - tools
    - build-tools-23.0.3
    - android-23

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19

    - sys-img-armeabi-v7a-android-19
    - sys-img-x86-android-17